* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    background: #35424a;
    color:aliceblue;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

}

header h1{
    float: left;
    font-size: 2em;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    padding: 0 20px
}

header nav ul li a {
    color: #ffffff;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #e8491d;
    transition: 0.3s;
}

.section {
    padding: 50px 0;
}

.section h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #35424a;
}


.resume {
    background: #ffffff;
    border-radius: 5px;
    margin-bottom:20px;
    width: 48%;
    box-shadow: 0 2px 5px;
    
}

footer {
    background-color: #35424a;
    text-align: center;
    border-top: #e8491d 3px;
    padding: 20px;
    margin-top: 20px;
}